<div class="top">
	<div class="top-warrapper">
		<div class="container">
			<div class="contents">
				<%= @posts.each do post| %>
					<%= link_to("#{@post.content}","/posts/#{post.id}") %>
				<% end %>
			</div>
		</div>
	</div>
</div>
